$Dark: #242424;
$Light: #F8F8F8;

$Inner-Padding: 30px;

@import "libs/jquery.window";
@import "keyframes";
@import "index";

html{
  background :#f8f8f8;
  overflow   :hidden;
}

body{
  margin                :0;
  font-family           :'Open Sans', sans-serif;
  font-weight           :300;
  color                 :#f8f8f8;
  padding-top           :140px;
  background-attachment :fixed;
}

*{
  box-sizing :border-box;
}

img{
  border :none;
}

a{
  color           :#f8f8f8;
  font-size       :14px;
  text-decoration :none;
}

a:active, a:focus, a:visited{
  outline :none;
}

h1, h2, h3, h4, h5, h6{
  font-weight    :300;
  text-transform :uppercase;
  margin         :0;
  margin-bottom  :30px;
}

h5,h6{
  margin-bottom:10px;
}

p,ul,ol{
  margin        :0;
  margin-bottom :30px;
  font-weight   :300;
  text-align    :justify;
  font-size     :14px;
  line-height   :24px;
}

.Italic{
  font-style :italic;
}

h1{
  font-size   :32px;
  line-height :32px;
}

h2, h3{
  font-size   :28px;
  line-height :28px;
}

input,textarea{
  border        :none;
  background    :rgb(248, 248, 248);
  padding       :15px;
  color         :rgb(36, 36, 36);
  font-family   :'Open Sans', sans-serif;
  font-weight   :300;
  font-size     :18px;
  display       :block;
  margin-bottom :30px;
  width         :100%;
}

input:focus, button:focus,textarea:focus{
  outline :none;
}

input:focus,textarea:focus{
  background :#fafafa;
}

button{
  border              :none;
  border-image-repeat :initial;
  background          :#363636;
  padding             :15px;
  color               :rgb(248, 248, 248);
  font-family         :'Open Sans', sans-serif;
  font-weight         :300;
  font-size           :18px;
  display             :block;
  margin-bottom       :20px;
  width               :100%;
  cursor              :pointer;
  -webkit-transition  :0.2s ease-in;
  -moz-transition     :0.2s ease-in;
  -o-transition       :0.2s ease-in;
  transition          :0.2s ease-in;
}

button:active{
  outline :none;
}

button:hover{
  background         :#484848;
  -webkit-transition :0.2s ease-in;
  -moz-transition    :0.2s ease-in;
  -o-transition      :0.2s ease-in;
  transition         :0.2s ease-in;
}

::-webkit-input-placeholder{ color :#242424; }

::-moz-placeholder{ color :#242424; }

:-moz-placeholder{ color :#242424; }

:-ms-input-placeholder{ color :#242424; }

input:-webkit-autofill{
  -webkit-box-shadow :0 0 0 50px #f8f8f8 inset;
  box-shadow         :0 0 0 50px #f8f8f8 inset;
}

*{
  box-sizing :border-box;
}

/* Navigation */

.Next, .Previous{
  width    :80px;
  position :absolute;
  height   :100%;
  top      :0;
  z-index  :7;
  cursor   :pointer;
}

.Previous{
  left         :0;
  background   :url('/img/icons/to_left.png') center center no-repeat;
  border-right :1px solid #646464;
}

.Next{
  right       :0;
  background  :url('/img/icons/to_right.png') center center no-repeat;
  border-left :1px solid #646464;
}

.Previous, .Next{
  background-color   :#242424;
  -webkit-transition :0.2s ease-in;
  -moz-transition    :0.2s ease-in;
  -o-transition      :0.2s ease-in;
  transition         :0.2s ease-in;
}

.Previous:hover, .Next:hover{
  background-color   :#484848;
  -webkit-transition :0.2s ease-in;
  -moz-transition    :0.2s ease-in;
  -o-transition      :0.2s ease-in;
  transition         :0.2s ease-in;
}

.More{
  border-bottom  :1px solid #646464;
  padding-bottom :2px;
  color          :#242424;
}

[class*='Module-'] a, .Content a{
  color:#242424;
  border-bottom: 1px solid #a8a8a8;
}
[class*='Module-'] a:hover, .Content a:hover{
  color:#a8a8a8;
  border-bottom: 1px solid #a8a8a8;
}


@import "media";
@import "mobile";