/*** Patterns ***/

%White-Block{
  padding    :20px;
  background :#fff;
  color      :#242424;
  position   :relative;
}

%Transition-In-Default{
  -webkit-transition :0.2s ease-in;
  -moz-transition    :0.2s ease-in;
  -o-transition      :0.2s ease-in;
  transition         :0.2s ease-in;
}

%Transition-Out-Default{
  -webkit-transition :0.2s ease-out;
  -moz-transition    :0.2s ease-out;
  -o-transition      :0.2s ease-out;
  transition         :0.2s ease-out;
}

/*** Preloading ***/

.Pre-Loading{
  width      :100%;
  height     :100%;
  top        :0;
  position   :fixed;
  z-index    :99999;
  background :#242424;

  .Round-Logo{
    position :absolute;
    top      :50%;
    left     :50%;
    margin   :-60px 0 0 -53px;
  }
  .Round{
    position      :absolute;
    top           :50%;
    left          :50%;
    width         :300px;
    height        :300px;
    margin        :-150px 0 0 -150px;
    border-radius :50% 50% 50% 50%;
    border        :10px solid #f8f8f8;
  }
  .Round-Inner{
    top               :50%;
    left              :50%;
    margin-left       :-130px;
    margin-top        :-130px;
    position          :absolute;
    width             :260px;
    height            :260px;
    border-radius     :50% 50% 50% 50%;
    border-left       :2px solid #f8f8f8;
    -webkit-animation :rotate 0.8s linear infinite normal;
    -moz-animation    :rotate 0.8s linear infinite normal;
    -o-animation      :rotate 0.8s linear infinite normal;
    -ms-animation     :rotate 0.8s linear infinite normal;
    animation         :rotate 0.8s linear infinite normal;
  }
  .Round-Outer{
    top               :50%;
    left              :50%;
    margin-left       :-160px;
    margin-top        :-160px;
    position          :absolute;
    width             :320px;
    height            :320px;
    border-radius     :50% 50% 50% 50%;
    border-left       :2px solid #f8f8f8;
    -webkit-animation :rotate 1.3s linear infinite normal;
    -moz-animation    :rotate 1.3s linear infinite normal;
    -o-animation      :rotate 1.3s linear infinite normal;
    -ms-animation     :rotate 1.3s linear infinite normal;
    animation         :rotate 1.3s linear infinite normal;
  }
  .About{
    position       :absolute;
    top            :27px;
    font-size      :12px;
    line-height    :24px;
    left           :30px;
    text-transform :uppercase;
    color          :rgb(168, 168, 168);
    letter-spacing :0.5px;
  }
  .Info{
    position       :absolute;
    bottom         :25px;
    margin-bottom  :0;
    font-size      :12px;
    text-align     :right;
    line-height    :24px;
    right          :30px;
    text-transform :uppercase;
    color          :rgb(168, 168, 168);
    letter-spacing :0.5px;
  }
}

/*** Preloading ***/

html.HTML-Loading{
  background:black;
  height:100%;
}

.Preloading{
  top             :0;
  position        :absolute;
  width           :100%;
  height          :50%;
  background      :#000;
  background      :url('/img/preloading/wave-tabl.jpg') center center;
  background-size :cover;
  z-index         :10000000;

  .Logo{
    position        :absolute;
    width           :100%;
    height          :100%;
    background      :url('/img/preloading/logo-a.png') center center;
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }

  .Logo.Bunker{
    background :url('/img/preloading/logo-bunker-a.png') center center;
  }

  .Logo.A-day-before{
    background :url('/img/preloading/bands/a-day-before.png') center center;
  }

  .Logo.Blud{
    background :url('/img/preloading/bands/blud.png') center center;
  }

  .Logo.Blud2{
    background :url('/img/preloading/bands/blud2.png') center center;
  }

  .Logo.Pornojazz{
    background :url('/img/preloading/bands/porno-jazz.png') center center;
  }

  .Logo.Quazar{
    background :url('/img/preloading/bands/quazar.png') center center;
  }

  .Logo.Happyness{
    background :url('/img/preloading/bands/happyness.png') center center;
  }


  .Logo.Happyness{
    background :url('/img/preloading/bands/happyness.png') center center;
  }

  .Logo.Thylacine{
    background :url('/img/preloading/bands/thylacine.png') center center;
  }

  .Logo.Fm{
    background :url('/img/preloading/bands/fm.png') center center;
  }

  .Logo.Overkayf{
    background :url('/img/preloading/bands/overkayf.png') center center;
  }

  .Logo.Aquatoria{
    background :url('/img/preloading/bands/aquatoria.png') center center;
  }

  .Logo.Paradize{
    background :url('/img/preloading/bands/paradize.png') center center;
  }

  .Logo.Chains{
    background :url('/img/preloading/bands/chains.png') center center;
  }

  .Logo.Armada{
    background :url('/img/preloading/bands/armada.png') center center;
  }

  .Logo.West{
    background :url('/img/preloading/bands/west.png') center center;
  }

  .Wave{
    position          :absolute;
    width             :100%;
    height            :100%;
    background        :url('/img/preloading/wave.png') center center;
    background-size   :contain;
    animation         :Preloading-Wave 450s linear infinite;
    -moz-animation    :Preloading-Wave 450s linear infinite;
    -webkit-animation :Preloading-Wave 450s linear infinite;
    -ms-animation     :Preloading-Wave 450s linear infinite;
    -o-animation      :Preloading-Wave 450s linear infinite;
  }

  .Noise{
    position   :absolute;
    width      :100%;
    height     :100%;
    background :url('/img/effects/noise.gif');
    opacity    :0.04;
  }
}

/*** Menu ***/

.Menu{
  position   :fixed;
  width      :100%;
  z-index    :1000;
  top        :0;
  background :#242424;
  box-shadow :0 0 8px rgba(248, 248, 248, 0.24);
  height     :80px;
  > *{
    float :left;
  }

  a{
    display        :inline-block;
    text-transform :uppercase;
    line-height    :80px;
    height         :80px;
    font-size      :18px;
  }

  > .User, > .Search{
    position   :absolute;
    width      :80px;
    text-align :center;
    font-size  :24px;
  }

  > .Search{
    right       :0;
    border-left :1px solid #646464;
  }

  > .User{
    border-right :1px solid #646464;
  }

  > .Left-Side > a, > .Right-Side > a{
    padding-left  :20px;
    padding-right :20px;
    @extend %Transition-Out-Default;
  }

  .Left-Side, .Right-Side{
    width     :44%;
    font-size :0;
  }

  .Left-Side{
    text-align :right;
  }

  .Logo{
    width       :12%;
    line-height :76px;
    text-align  :center;
    @extend %Transition-Out-Default;
  }

  .Logo img{
    vertical-align :middle;
  }

  > .Left-Side > a:hover, > .Right-Side > a:hover, > .User:hover, > .Search:hover{
    background :#f8f8f8;
    color      :black;
    @extend %Transition-Out-Default;
  }

  .Logo:hover{
    -moz-transform    :scale(1.1);
    -ms-transform     :scale(1.1);
    -webkit-transform :scale(1.1);
    -o-transform      :scale(1.1);
    transform         :scale(1.1);
    @extend %Transition-Out-Default;
  }
}

/*** Module Slider ***/

.Module-Slider{
  height          :600px;
  background-size :cover;
  margin-top      :0 !important;
  background      :#f8f8f8;
  background      :url('/pictures/panorama/first.jpg') -3130px center;
  position        :relative;
  overflow        :hidden;
}

.Module-Slider .Info{
  float        :right;
  width        :33%;
  height       :100%;
  margin-right :80px;
  padding      :30px;
  position     :absolute;
  right        :0;
  z-index      :5;
  background   :#FFF;
  color        :#242424;
}

.Module-Slider .Wave{
  opacity            :0.64;
  position           :absolute;
  width              :100%;
  height             :100%;
  background         :url('/img/preloading/wave-square.png') center center;
  background-size    :contain;
  animation          :Preloading-Wave 900s linear infinite;
  -moz-animation     :Preloading-Wave 900s linear infinite;
  -webkit-animation  :Preloading-Wave 900s linear infinite;
  -ms-animation      :Preloading-Wave 900s linear infinite;
  -o-animation       :Preloading-Wave 900s linear infinite;
  -webkit-transition :0.3s ease-out;
  -moz-transition    :0.3s ease-out;
  -o-transition      :0.3s ease-out;
  transition         :0.3s ease-out;
}

.Module-Slider p{
  margin-bottom  :30px;
  padding-bottom :10px;
  border-bottom  :1px dashed rgb(36, 36, 36);
}

.Module-Slider p.Italic{
  border-bottom  :none;
  padding-bottom :0;
}

.Module-Slider .Visit{
  font-size      :14px;
  position       :absolute;
  right          :30px;
  bottom         :30px;
  border-bottom  :1px solid #646464;
  padding-bottom :2px;
  color          :#242424;
}

/*** Module-About ***/
.Module-About{
  height     :900px;
  margin-top :60px;
  position   :relative;
  background :black;
}

.Module-About > .Repetition, .Module-About > .Studio, .Module-About > .Club{
  float    :left;
  width    :33.33%;
  height   :100%;
  position :relative;
}

.Module-About .Info, .Module-About h2{
  position :relative;
  z-index  :100;
}

.Module-About .Info{
  padding       :30px;
  padding-right :110px;
  background    :white;
  color         :rgb(36, 36, 36);
}

.Module-About .Studio .Info{
  bottom   :0;
  position :absolute;
  width    :100%;
}

.Module-About .Info{
  height :50%;
}

.Module-About p{
  text-align :left;
}

.Module-About .More{
  position :absolute;
  bottom   :30px;
  right    :110px;
}

.Module-About .Photo{
  height :50%;
  width  :100%;
}

.Module-About .Texture-Dot{
  position   :absolute;
  z-index    :1;
  width      :100%;
  height     :100%;
  background :url('/img/effects/dot.png');
}

/*** Module Map ***/
.Module-Map{
  width      :100%;
  position   :relative;
  height     :600px;
  background :#242424;
  margin-top :60px;
  overflow   :hidden;
}

.Module-Map .Map-Canvas{
  height :100%;
  width  :66.66%;
  float  :left;
}

.Module-Map .Scroll-Off{
  pointer-events :none;
}

.Module-Map .Info{
  float   :left;
  color   :#f8f8f8;
  width   :33.33%;
  padding :30px;
}

.Module-Map p{
  font-size      :14px;
  line-height    :24px;
  margin-bottom  :30px;
  padding-bottom :10px;
  border-bottom  :1px dashed rgb(232, 232, 232);
}

.Module-Map p.Italic{
  border-bottom  :none;
  padding-bottom :0;
}

/*** Module Gallery ***/

.Module-Gallery{
  position   :relative;
  margin-top :60px;
  font-size  :0;
}

.Module-Gallery .Texture-Dot{
  position   :absolute;
  z-index    :1;
  width      :100%;
  height     :100%;
  background :url('/img/effects/dot.png');
  opacity    :0.5;
}

.Module-Gallery img{
  display :inline-block;
  width   :100%;
}

/***! Module Gallery ***/

/* Events */

.Module-Events{
  margin-top :60px;
  color      :#000;
}

.Module-Events .Event{
  height   :450px;
  overflow :hidden;
}

.Module-Events .Texture-Dot{
  position   :absolute;
  z-index    :1;
  width      :100%;
  height     :100%;
  background :url('/img/effects/dot.png');
  opacity    :0.1;
}

.Module-Events p, .Module-Events h2{
  text-shadow :0 0 1px rgba(255, 255, 255, 0.8);
}

.Module-Events .Event{
  position        :relative;
  margin-bottom   :10px;
  background-size :cover !important;
}

.Module-Events .Event .Info{
  position     :relative;
  background   :white;
  color        :black;
  float        :left;
  width        :50%;
  height       :100%;
  padding      :30px;
  padding-left :110px;
  left         :0;
  z-index      :5;
  @media (max-width:1480px){
    padding-left :80px;
  }
}

.Module-Events .Picture{
  width               :50%;
  height              :100%;
  position            :relative;
  display             :inline-block;
  background-size     :cover !important;
  background-position :center center !important;
}

.Module-Events .Event .Info h2{
  margin-bottom :20px;
  color         :rgb(68, 68, 68);
}

.Module-Events .Event .Info p{
  color :rgb(64, 64, 64);
}

.Module-Events .Event .Info i{
  right     :30px;
  display   :block;
  position  :absolute;
  bottom    :30px;
  font-size :18px;
}

/* Footer */

.Footer{
  margin-top :60px;
  background :#242424;
  overflow   :hidden;
  position   :relative;
  width      :100%;
}

.Footer .Wrapper{
  padding :30px;
  float   :left;
  width   :100%;
}

.Footer .Wrapper-Box{
  border-bottom :1px dashed rgb(232, 232, 232);
  border-top    :1px dashed rgb(232, 232, 232);
  float         :left;
  width         :100%;
  padding       :20px 0px;
  position      :relative;
  z-index       :10;
}

.Footer .Noise{
  background :url('/img/effects/noise.gif');
  opacity    :0.04;
  z-index    :1;
  position   :absolute;
  height     :100%;
  width      :100%;
}

.Footer p{
  margin-bottom :0;
}

.Footer .About, .Footer .Contacts{
  float          :left;
  width          :50%;
  font-size      :12px;
  line-height    :24px;
  text-transform :uppercase;
  letter-spacing :0.5px;
}

.Footer .Contacts{
  text-align :right;
}

.Footer .Contacts a{
  font-size   :12px;
  line-height :24px;
}

.Footer .Logo .Round-Logo{
  position :absolute;
  width    :32px;
  top      :50%;
  left     :50%;
  margin   :-20px 0 0 -16px;
}

.Footer .Logo .Round{
  position      :absolute;
  top           :50%;
  left          :50%;
  width         :86px;
  height        :86px;
  margin        :-43px 0 0 -43px;
  border-radius :50% 50% 50% 50%;
  border        :3px solid #f8f8f8;
}

.Footer .Logo .Round-Inner{
  top               :50%;
  left              :50%;
  margin-left       :-36px;
  margin-top        :-36px;
  position          :absolute;
  width             :72px;
  height            :72px;
  border-radius     :50% 50% 50% 50%;
  border-left       :1px solid #f8f8f8;
  -webkit-animation :rotate 0.8s linear infinite normal;
  -moz-animation    :rotate 0.8s linear infinite normal;
  -o-animation      :rotate 0.8s linear infinite normal;
  -ms-animation     :rotate 0.8s linear infinite normal;
  animation         :rotate 0.8s linear infinite normal;
}

.Footer .Logo .Round-Outer{
  top               :50%;
  left              :50%;
  margin-left       :-48px;
  margin-top        :-48px;
  position          :absolute;
  width             :96px;
  height            :96px;
  border-radius     :50% 50% 50% 50%;
  border-left       :1px solid #f8f8f8;
  -webkit-animation :rotate 1.3s linear infinite normal;
  -moz-animation    :rotate 1.3s linear infinite normal;
  -o-animation      :rotate 1.3s linear infinite normal;
  -ms-animation     :rotate 1.3s linear infinite normal;
  animation         :rotate 1.3s linear infinite normal;
}

/*** Module Enter ***/

.Module-Enter{
  position :relative;
  width    :25%;
  margin   :-140px auto 0 !important;
  top      :50%;
  .Registration{
    text-transform :uppercase;
    color          :rgb(168, 168, 168);
    display        :block;
    position       :absolute;
    top            :12px;
    right          :0;
    font-size      :12px;
    border-bottom  :1px solid #363636;
  }
}

/*** Search ***/

.Module-Search{
  position :relative;
  width    :25%;
  margin   :-98px auto 0 !important;
  top      :50%;
}

/*** Content ***/

.Content{
  @extend %White-Block;
  min-height :500px;
  .Photo{
    position            :absolute;
    height              :100%;
    width               :50%;
    right               :0;
    top                 :0;
    background-size     :cover !important;
    background-position :50% 50% !important;
    max-height          :500px;
  }
  .Text{
    width         :50%;
    padding-right :20px;
  }
  .Text.Right{
    margin-left  :33.33%;
    padding-left :20px;
  }
  .Photo.Left{
    right      :auto;
    left       :0;
    width      :33.33%;
    max-height :400px;
  }
}

.Content.Fixed{
  position   :fixed;
  width      :100%;
  bottom     :208px;
  top        :90px;
  overflow   :hidden;
  padding    :0;
  min-height :250px;

  @media (max-width :1480px) {
    bottom: 152px;
    top    :70px;
  }

  .Text{
    height     :100%;
    overflow-y :scroll;
    padding    :30px;
  }
  .Photo{
    max-height :100%;
  }
}

/*** Comments ***/

.Comments{
  position         :absolute;
  right            :0;
  top              :0;
  width            :50%;
  height           :100%;
  padding          :$Inner-Padding;
  background-color :$Dark;
  color            :$Light;
  .Comment{
    padding          :10px 15px;
    background-color :$Light;
    color            :$Dark;
  }
  .Form{
    height :90px;
  }
  textarea{
    width         :66.6%;
    display       :inline-block;
    float         :left;
    height        :60px;
    margin-bottom :30px;
    font-size     :14px;
  }
  button{
    width          :33.33%;
    display        :inline-block;
    float          :left;
    vertical-align :top;
    height         :60px;
  }

}

h1.Header{
  background    :rgb(36, 36, 36);
  height        :80px;
  line-height   :80px;
  padding-left  :80px;
  font-size     :24px;
  margin-bottom :10px;
  @media (max-width :1480px) {
    height       :60px;
    line-height  :60px;
    padding-left :60px;
  }
}

/*** For Pages ***/
.Events .Module-Events{
  margin-top :0;
}
