/* Preloading Wave */

@keyframes Preloading-Wave {
    0% { background-position: 0 0; }
    100% { background-position: -60000px 0; }
}
@-moz-keyframes Preloading-Wave {
    0% { background-position: 0 0; }
    100% { background-position: -60000px 0; }
}
@-webkit-keyframes Preloading-Wave {
    0% { background-position: 0 0; }
    100% { background-position: -60000px 0; }
}
@-ms-keyframes Preloading-Wave {
    0% { background-position: 0 0; }
    100% { background-position: -60000px 0; }
}
@-o-keyframes Preloading-Wave {
    0% { background-position: 0 0; }
    100% { background-position: -60000px 0; }
}

/*** Rotate ***/

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes rotate {
    from {
        -o-transform: rotate(0deg);

    }
    to {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes rotate {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*** Rotate Back***/

@-webkit-keyframes rotate-back {
    from {
        -webkit-transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes rotate-back {
    from {
        -moz-transform: rotate(360deg);
    }
    to {
        -moz-transform: rotate(0deg);
    }
}

@-o-keyframes rotate-back {
    from {
        -o-transform: rotate(360deg);

    }
    to {
        -o-transform: rotate(0deg);
    }
}

@-ms-keyframes rotate-back {
    from {
        -ms-transform: rotate(360deg);
    }
    to {
        -ms-transform: rotate(0deg);
    }
}

@keyframes rotate-back {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


