@media (max-width :1601px) {
}

@media (max-width :1480px) {
  h1, h2{
    font-size     :28px;
    margin-bottom :10px;
  }
  h3, h4{
    font-size     :22px;
    margin-bottom :10px;
  }
  p, ul, ol{
    margin-bottom :10px;
  }

  body{
    padding-top :110px;
  }

  .Next, .Previous{
    width :60px;
  }

  .Module-Slider .Info{
    width        :40%;
    margin-right :60px;
  }

  [class*='Module-'], .Footer{
    margin-top :50px;
  }

  /*** Menu ***/
  .Menu{
    height :60px;
  }

  .Menu a{
    font-size   :14px;
    line-height :60px;
    height      :60px;
  }

  .Menu > .User, .Menu > .Search{
    font-size :18px;
    width     :60px;
  }

  .Menu > .Left-Side > a, .Menu > .Right-Side > a{
    padding-left  :10px;
    padding-right :10px;
  }

  .Menu .Logo img{
    width :36px;
  }

  .Menu .Logo{
    line-height :56px;
  }

  .Footer .Wrapper{
    padding :20px;
  }
  .Footer .Wrapper-Box{
    padding :10px 0;
  }
  .Footer .About, .Footer .Contacts{
    float       :left;
    width       :50%;
    font-size   :10px;
    line-height :20px;
  }
  .Footer .Logo .Round{
    width  :76px;
    height :76px;
    margin :-38px 0 0 -38px;
  }
  .Footer .Logo .Round-Inner{
    margin-left :-31px;
    margin-top  :-31px;
    width       :62px;
    height      :62px;
  }
  .Footer .Logo .Round-Outer{
    margin-left :-42px;
    margin-top  :-42px;
    width       :84px;
    height      :84px;
  }

  .Module-Slider{
    background :url('/pictures/panorama/first.jpg') -3430px center;
  }
}